* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.login {
    background: #ECEDEF;
}


/*********************************************************************************
* GENERAL STYLES
*/
.event-input {
    border: 0;
    background-color: #f8f9fa;
}

.pj0-card {
    width: 20rem;
    margin: 0 auto;
}

.algo {
    padding: 25px 25px 25px 225px;
    background-color: #F4F4F5;
    min-height: calc(100vh - 63px);
}

.form-control:focus {
    box-shadow: none !important;
}

.logo {
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #6f7275;
    padding-bottom: 12px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-bottom: 15px;
}
.user-profile {
    padding: 25px 5px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #6f7275;
    padding-bottom: 25px;
}
/*********************************************************************************
* SIDEBAR STYLES
*/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #343A40;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    z-index: 2;
    padding-top: 15px;
}

.sidebar a {
    display: block;
    color: #FFFFFF !important;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #6f7275;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.navbar {
    z-index: 2;
}

/*********************************************************************************
* CARD EVENTS STYLES
*/

.event-card-body {
    height: 78px;
    overflow: hidden;
    padding: 1rem !important;
    -webkit-transition: height 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;
}

.expand-card-body {
    height: 233px;
}

/*********************************************************************************
* NAVBAR STYLES
*/
.pjo-navbar {
    background-color: #7e8184;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

/**  Small devices (landscape phones, 576px and up) **/

@media (min-width: 576px) {
    .pj0-card {
        width: 22rem;
        margin: 0 auto;
    }
}


/** Medium devices (tablets, 768px and up) **/

@media (min-width: 768px) {
    .pj0-card {
        width: 30rem;
        margin: 0 auto;
        border: 0 !important;
        border-radius: 6px !important;
        box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
    }
    .pj0-card-header {
        height: 160px;
        background-image: url('./assets/img/bg-login.jpg');
        background-position: 69px -97px;
        background-size: 70% auto;
        position: relative;
    }
    .bg-dark-trans {
        position: absolute;
        left: 8px;
        top: 88px;
        height: 160px;
        width: 100%;
        font-size: 3em;
    }
    .pj0-card-body {
        padding: 30px 40px !important;
    }
    .pj0-form-control {
        border: 0 !important;
        border-bottom: 1px solid #cccaca !important;
        border-radius: 0 !important;
    }
    .pj0-form-control:focus {
        border: none !important;
        border-bottom: 1px solid #cccaca !important;
        box-shadow: none !important;
    }
}


/** Large devices (desktops, 992px and up) **/

@media (min-width: 992px) {
    .pj0-card {
        width: 30rem;
        margin: 0 auto;
        border: 0 !important;
        border-radius: 6px !important;
        box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
    }
    .pj0-card-header {
        height: 160px;
        background-image: url('./assets/img/bg-login.jpg');
        background-position: 69px -97px;
        background-size: 70% auto;
        position: relative;
    }
    .bg-dark-trans {
        position: absolute;
        left: 8px;
        top: 88px;
        height: 160px;
        width: 100%;
        font-size: 3em;
    }
    .pj0-card-body {
        padding: 30px 40px !important;
    }
    .pj0-form-control {
        border: 0 !important;
        border-bottom: 1px solid #cccaca !important;
        border-radius: 0 !important;
    }
    .pj0-form-control:focus {
        border: none !important;
        border-bottom: 1px solid #cccaca !important;
        box-shadow: none !important;
    }
}


/** Extra large devices (large desktops, 1200px and up) **/

@media (min-width: 1200px) {
    .pj0-card {
        width: 30rem;
        margin: 0 auto;
        border: 0 !important;
        border-radius: 6px !important;
        box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(72, 72, 72, 0.75);
    }
    .pj0-card-header {
        height: 160px;
        background-image: url('./assets/img/bg-login.jpg');
        background-position: 69px -97px;
        background-size: 70% auto;
        position: relative;
    }
    .bg-dark-trans {
        position: absolute;
        left: 8px;
        top: 88px;
        height: 160px;
        width: 100%;
        font-size: 3em;
    }
    .pj0-card-body {
        padding: 30px 40px !important;
    }
    .pj0-form-control {
        border: 0 !important;
        border-bottom: 1px solid #cccaca !important;
        border-radius: 0 !important;
    }
    .pj0-form-control:focus {
        border: none !important;
        border-bottom: 1px solid #cccaca !important;
        box-shadow: none !important;
    }
}